section { position: relative; text-align: center; 
  
  &.intro { background-color:$orange; color:#eee; padding: 10px; border-bottom: 4px solid lighten($orange,18%); }
  
  &.likethis { font-weight: 700; background-color: #000; color:#fff; }
  
  &.piece { overflow: hidden; border-bottom:3px solid lighten($dark,30%);
    .logo { width:100%; height:50%; max-width: 400px; transform:scale(0.9); transition: all 0.3s ease; }
    > a { display: block; height:50vh; cursor: pointer; position: relative;
      .inner { width:50%; height: 100%; float: right; margin-left: auto; margin-right: auto; position: relative; padding-top: 20px;} 
    }
  }
  .badges { text-align: right; float: right; transform:translateX(102%); transition:all 0.6s $easeBounce; max-width: 100%;
    span { display: block; color:$white; text-align: left; padding-bottom: 0.5em; font-style: italic; letter-spacing: 0.8em; }
    position: absolute; bottom:20px; right: 0;
    img, .icon { width: 68px; height:68px; margin-right: 15px; }
  }
  figure { background-position: center left; background-size:contain; background-repeat: no-repeat; position: absolute; top:0; left:0; right:0; bottom:0; opacity: 0.8;  transition:all 0.85s linear; background-color:$dark; }
  
  article { background-color:$dark; padding-top: 1em; padding-bottom:1em;  display: none;
    h3 { padding-bottom: 0; border-bottom: 1px solid #bbb; display: inline-block; line-height: 84%; margin-bottom: .5em; }
    .inner { max-width: 1200px; margin-left: auto; margin-right: auto; background-color:$white; padding:1em; text-align: justify; @extend %clearfix;
      .shot { max-height: 300px; margin-bottom: 12px;
        &:nth-of-type(odd) { float: left; margin-right:12px; }
        &:nth-of-type(even) { float: right; margin-left:12px; }
      }
    }
    .last-looks { display: block; clear: both; float:none;
      img { max-width: 31.3333%; margin-right: 2% }
    }
    a { color:$orange; }
  }
  
  &.thefplus {
    figure { background-image: url(../img/screenshots/thefplus.jpg); }
  }
  &.mohawk {
    figure { background-image: url(../img/screenshots/mohawk-3up.jpg); }
  }
  &.recon {
    figure { background-image: url(../img/screenshots/recon-3up.jpg); }
  }
  &.wrongest {
    figure { background-image: url(../img/screenshots/wrongest-3up.jpg); }
  }
  
  &.piece:hover, &.piece.active {
    .logo { transform: scale(1); }
    figure { opacity:1; }
    .badges { transform: translateX(0); }
  }
  &.piece.active { filter: saturate(115%); 
    
  }
  
  &.also-made {
    margin-top:2em; margin-bottom: 2em;
  }
  
  
  &.contact { background-color:$orange; color:#eee; padding: 10px; border-top: 4px solid lighten($orange,18%); margin-top: 2em; }
}

.also-logos { @include flex-container(); max-width: 1200px; margin-left: auto; margin-right: auto; background-color:$white; cursor: help;
  .logo { @include flex-item(220px); height: 180px; position: relative; overflow: hidden; z-index: 3; border:1px solid darken($white,40%);
    img { background-color: white; padding:10px; width:100%; height:100%; transition:opacity 0.5s ease; }
  }
  .overlay { position: absolute; top:0; right:0; bottom:0; left:0; color:$dark; display: flex; align-items: center; justify-content: center; transform:translateY(-102%); transition: all 0.3s $easeQuartic;
    background:rgba($dark, 0.8); color: $white;
    .inner { padding: 10px; }
    h5 { font-size:1.2em; padding-bottom: 0.35em; }
    h6 { font-size:0.75em; font-weight: $normal; }
  }
  .logo:hover {
    img { opacity: 0.2; }
    .overlay { transform:translateY(0); }
  }
}

.tech-logos { @include flex-container(); max-width: 1200px; margin-left: auto; margin-right: auto; justify-content:space-between; cursor:help;
  .logo { @include flex-item(150px); height: 130px; padding:24px; background-color: white; border:1px solid darken($white,40%); position:relative; overflow:hidden; z-index:3;
    .icon { width:100%; height: 100%; transition:opacity 0.5s ease; }
    .jquery-text { fill:#333; }
    .overlay { position: absolute; top:0; right:0; bottom:0; left:0; color:$dark; display: flex; align-items: center; justify-content: center; transform:translateY(-102%); transition: all 0.3s ease;
      background:rgba($dark, 0.8); color: $white;
      .inner { padding: 10px; }
      h5 { font-size:1.2em; }
      .stars { text-align: center;
        .star { height: 1em; width: 1em;
          * { fill: $yellow; }
        }
      }
      h6 { font-size:0.85em; font-weight: $normal; }
    }
    
    &:hover {
      .icon { opacity: 0.2; }
      .overlay { transform:translateY(0); }
    }
  }
  .explanation { flex-basis: 260px; text-align: left; margin-right: 60px;
    a { color:$orange; font-weight: $bold; text-decoration:none; }
    p { text-align: justify; font-size:0.85em; }
    header { display: block; }
    .stars { display: inline-block;
      .star { height: 1em; width: 1em; display: inline-block; }
    }
  }
}

.contact-links { text-align: center; margin-top:1em; 
  a { display: inline-block; width:6em; height: 6em; margin-right: 2em;
    &:last-child { margin-right: 0; }
    img { width: 100%; height:100%; }
    svg { transition:transform 0.5s ease; transform-origin: center; }
    .inner { transition:all 0.5s ease; transform-origin: center; fill:$white; }
    .circle { stroke:$dark; fill:transparent; transition:all 0.5s ease; }
    .spins { fill:$white; transition: all 0.5s ease; }
    &:hover {
      svg { transform: rotate(360deg); }
      .circle { fill:$dark; }
      .inner { transform:scale(1.2); }
      //.spins {fill:$dark; }
    }
  }
}

@media screen and (max-width:$tablet) {
  section {
    h1 { }
    h2 { font-size:5vw; }
    h3 { font-size:4.5vw; }
    &.intro {
      h1 { font-size:9.7vw; }
      h3 { font-size:5.5vw; }
    }
    &.piece { background-color:$dark; padding-top: 6px;
      
      figure { margin-top: 16vw; margin-bottom:calc(10vw + 2em); background-position: center; }
      > a { height: 100vw;
        .inner { width:100%; float:none; padding: 0; }
      }
      .logo { height: 16vw; max-width: none; }
      .badges { bottom:12px; width: 100%; float: none; text-align: center;
        span { padding-left: 1em; }
        img, .icon { width:10vw; height: 10vw; }
      }
      
      article {
        h3 { font-size:1.65rem; text-align:left; display: block; }
        .inner {
          .shot { float: none; display: block; margin-left: auto; margin-right:auto; max-height: none; max-width:100%; }
        }
        .last-looks {
          img { max-width: 100%; margin-right:auto; margin-left: auto; display: block; }
        }
      }
    }
  }  
  .also-logos {
    .logo { flex-basis:170px; height: 170px;}
  }
}

@media screen and (max-width:$phone) {
  .also-logos { justify-content:space-between;
    .logo { flex-basis: 140px; height: 140px; padding: 0; flex-grow: 1; }
  }
  
  .contact-links {
    a { width:20vw; height:20vw; margin-right:3vw; }
  }
}

