section { position: relative; text-align: center; 
  
  &.intro { background-color:$orange; color:#eee; padding: 10px; border-bottom: 4px solid lighten($orange,18%); }
  
  &.likethis { font-weight: 700; background-color: #000; color:#fff; }
  
  &.piece { overflow: hidden; border-bottom:3px solid lighten($dark,30%);
    .logo { width:100%; height:50%; max-width: 400px; transform:scale(0.9); transition: all 0.3s ease; }
    > a { display: block; height:50vh; cursor: pointer; position: relative;
      .inner { width:50%; height: 100%; float: right; margin-left: auto; margin-right: auto; position: relative; padding-top: 20px;} 
    }
  }
  .badges { text-align: right; float: right; transform:translateX(102%); transition:all 0.5s ease; max-width: 100%;
    span { display: block; color:$white; text-align: left; padding-bottom: 0.5em; font-style: italic; letter-spacing: 0.8em; }
    position: absolute; bottom:20px; right: 0;
    img { width: 68px; height:68px; margin-right: 15px; }
  }
  figure { background-position: center left; background-size:contain; background-repeat: no-repeat; position: absolute; top:0; left:0; right:0; bottom:0; opacity: 0.8;  transition:all 0.85s linear; background-color:$dark; }
  
  article { background-color:$dark; padding-top: 1em; padding-bottom:1em;  display: none;
    h3 { padding-bottom: 0; border-bottom: 1px solid #bbb; display: inline-block; line-height: 84%; margin-bottom: .5em; }
    .inner { max-width: 1200px; margin-left: auto; margin-right: auto; background-color:$white; padding:1em; text-align: justify; @extend %clearfix;
      .shot { max-height: 300px; margin-bottom: 12px;
        &:nth-of-type(odd) { float: left; margin-right:12px; }
        &:nth-of-type(even) { float: right; margin-left:12px; }
      }
    }
    .last-looks {
      img { max-width: 31.3333%; margin-right: 2% }
    }
    a { color:$orange; }
  }
  
  &.thefplus {
    figure { background-image: url(../img/screenshots/thefplus-3up.jpg); }
  }
  &.mohawk {
    figure { background-image: url(../img/screenshots/mohawk-3up.jpg); }
  }
  &.recon {
    figure { background-image: url(../img/screenshots/recon-3up.jpg); }
  }
  
  &.piece:hover, &.piece.active {
    .logo { transform: scale(1); }
    figure { opacity:1; }
    .badges { transform: translateX(0); }
  }
  &.piece.active { filter: saturate(115%); 
    
  }
}